[Unit]
Description=CamillaDSP
After=sound.target

[Service]
ExecStart=/storage/.kodi/addons/service.system.camilladsp/bin/camilladsp
TimeoutStopSec=2
Restart=always
RestartSec=2

[Install]
WantedBy=kodi.target
